body{
    width: 100%;
}

.nav_header ul, .nav_menu ul{
    list-style: none;
    padding-left: 0px;
}

.nav_menu{
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.nav_header{
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    padding-left: 10px;
    background: linear-gradient(180deg, #EBEDEE 2.93%, rgba(253, 251, 251, 0.00965869) 99.99%, rgba(253, 251, 251, 0) 100%);
}

#header_block{
    margin-left: 300px;
    background-image: url(Ressources/header_pic.jpg);
    width: 100%;
    background-size: 100%;
    height: 400px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

header{
    display: flex;
}

#header_pic{
    width: 100%;
    height: 400px;
    object-fit: cover;
}


h1{
    font-family:'Italianno', serif;
    font-size: 5em;
    margin: 0px;
}

ul, h2{
    font-family: 'Amiri', serif;
}

p{
    font-family: 'Maitree', serif;
}

#items_grid{
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item_card{
    height: 80%;
    width: 80%;
}

.contain{
    object-fit: cover;
    height: 100%;
    width: 100%;}

.item_block{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header_block p{
    text-align: justify;
}

footer{
margin: 50px 0px 0px 300px;
display: flex;
background: linear-gradient(180deg, #EBEDEE 2.93%, rgba(253, 251, 251, 0.00965869) 99.99%, rgba(253, 251, 251, 0) 100%);
justify-content: space-between;
}

footer > *{
    width: 400px;
}

footer p{
    text-align: justify;
}

footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

footer:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}